ul{
    display: flex;
    flex-direction: row;
}
li{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    width: 20%;
    height: 8%;
    border: 2px solid currentColor;
    background-color: red;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    text-decoration: none;
    color: rgb(88, 88, 165);
}
// li:nth-child(n+1)::after{
//     content: "|";
// }

// li:last-child::after{
//     content:""
// }